body {
    background-color: #dae9f9;
  }
  
  .App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #dae9f9;
  }
  
  .matchCardContainer {
  display: grid;
  place-items: center;
  gap: 20px;
  margin-top: 20px;
  }
  
  .card {
  width: 290px;
  box-shadow: 2px 8px 21px -2px #777777;
  border-radius: 10px;
  background-color: white;
  }
  
  .doublesSquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 28px;
  }
  
  .doublesNameSquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  height: 28px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  }
  
  .board-row {
  clear: both;
  content: '';
  display: table;
  }
  
  .scoreSheet {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  }

  .courtSquare {
    position: relative;
  }

  .playerName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Court {
    position: relative;
  }

  .switchVerticalButton {
    position: absolute;
    left: 50%;
    margin-left: -18px
  }