.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #dae9f9;
}

.App {
text-align: center;
width: 100%;
height: 100vh;
background-color: #dae9f9;
}

.homepage {
/* 画像ファイルの指定 */


/* 画像を常に天地左右の中央に配置 */
background-position: center center;
 
/* 画像をタイル状に繰り返し表示しない */
background-repeat: no-repeat;
 
/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
/*background-attachment: fixed;*/
 
/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
background-size: cover;
 
/* 背景画像が読み込まれる前に表示される背景のカラー */
/*background-color: #464646;*/

height: 750px;

margin-top: 33px;

}

.matchCardContainer {
display: grid;
place-items: center;
gap: 20px;
margin-top: 20px;
}

.card {
width: 290px;
box-shadow: 2px 8px 21px -2px #777777;
border-radius: 10px;
background-color: white;
}

.square {
background: #fff;
border: 1px solid #999;
float: left;
font-size: 18px;
font-weight: bold;
line-height: 28px;
height: 28px;
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: 28px;
}

.nameSquare {
background: #fff;
border: 1px solid #999;
float: left;
font-size: 18px;
font-weight: bold;
line-height: 28px;
height: 28px;
margin-right: -1px;
margin-top: -1px;
padding: 0;
text-align: center;
width: 90px;
}

.board-row {
clear: both;
content: '';
display: table;
}

.scoreSheet {
overflow-x: auto;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}